<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer Information</title>
  <style>
   .table, th, tr, td{
   border:1px solid blue;
   }
  </style>
</head>
<body>
 <center>

        <h2>List of Customers</h2>
        <table>
            <tr>
                <th>ID</th><th>Name</th><th>Email</th><th>Phone</th>
            </tr>
            {% for rows in customers %}
            <tr>
                {% for col in rows %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

 </center>
</body>
</html>